body {
    overflow-y: scroll;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: #2C3E50;
    padding: 2em;
    margin: 0;
}

#site {
    color: white;
    font-size: 1.5em;
}

.timeline {
    position: relative;
    top: 10em;
    display: block;
    text-align: center;
}

.reportsList {
    display: block;
    width: 96%;
    left: 0;
    padding-left: 2%;
    position: relative;
    top: 15em;
}

.report {
    display: block;
    position: relative;
    padding-bottom: 3em;
    margin-top: 1em;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(8px);
}

.report-subtitle {
    padding-bottom: 1em; 
}

.report>span {
    position: absolute;
    top: 0;
    padding-top: 2em;
}

.detected {
    left: 0;
    width: 30%;
}

.detected>ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.added {
    left: 40%;
    width: 15%;
}

.added>li {
    background: #A0FF98;
}

.removed {
    left: 65%;
    width: 15%;
}

.removed>li {
    background: #FF9C9C;
}

li {
    display: block;
}

.filter-list {
    position: relative;
    padding: 1em;
    margin-top: 0.5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
}

.filter-list>div {
    padding-top: 0.3em;
}

.versioned {
    background: #D6EAF8;
}